/* variables  */
:root{
  --ClrPrimary:rgb(20, 20, 20);
  --ClrSecund:rgb(68, 67, 67);
  --Clrfont: rgb(247, 240, 240);

  --clrblue:blue;
  --clrMagenta: Magenta;
  --clrGreen:Green;
  --clrYellowGreen:YellowGreen;
  --clrLightSalmon: LightSalmon;
  --clrGray:Gray;
  --clrLightSkyBlue:LightSkyBlue;
  --clrOrange:Orange;
  --clrOrangeRed:OrangeRed;
  --clrred: red;
  --clrPruple: purple;
  --clryellow: yellow;
  --clrblack:black;
  --clrWhite:rgb(228, 222, 222);
 --clrWhite1: white;

  


}
body{
	background-color:var(--ClrSecund);
	font-family: 'Trocchi', serif;
}

/* Estilos del contenedor principal */

.main{
	
	display: flex;
	margin:1em;
	
}
/* estilos del lateral Izquierdo */
.side-left{
	display: flex;
	flex-flow: column wrap;
	/* justify-content: center; */
	align-items: center;
	background-color: var(--ClrPrimary);
	color: var(--Clrfont);
	text-align: center;
	width:25%;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.side-left .sidebar-brand{
	margin-top: 25px;

}
.side-left hr{
	width:100%;
	margin-bottom:5%;
	border-color: grey;
}
.sidebar-brand{
	display: flex;
	justify-content:center;
	align-items:center;
	width:70%; 
	height:10%;
	background-color: rgb(48, 48, 48);
		
}
.sidebar-brand a{
	text-decoration: none;
	color: var(--Clrfont);
	border-bottom: 1px solid #ccc;
}

.container-Marker{
	margin: 0.4em;
}

.input-consulta1{
	width:80%;
	height:20%;
	margin-right:0;
	padding-right: 0;
	border-radius: 5px;
}
.btn-consulta1{
	background-color: rgb(53, 129, 228);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	width:15%;
	height:41%;
	border: 0;
	margin-left:  -4px;
	text-align: center;
}

.btn-archivo{
	background-color: rgb(53, 129, 228);
    border-radius: 0.4em;
	width:90%;
	height:30px;
	color: white;

}
.container-Marker hr{
	margin-top: 20px;
	margin-bottom:20px;
	border-color: grey;
}

.container-markers{
	margin: .5em;
	
}
.container-markers .cont-markers{
	
	margin: 0;
	padding:0;
	border-radius: 5px;
}
.container-markers .cont-markers{
	width:80%;
	resize: none;
	padding-left: 13px;
}

.btn-Markersmax{
	width:75%;
	height: 28px;
	border-radius: 5px;
	background-color: rgb(53, 129, 228);
	color: white;
	font-size: 1.2em;
}

.btn-Markersmax1{
	width:75%;
	height: 24%;
	margin: .3em;
	border-radius: 5px;
	background-color: rgb(53, 129, 228);
	color: white;
	font-size: 1.2em;
}

.file{
   display: none;
}

.input-archivo{
	margin: 0.5em;
}

/* Estilos del Panel del centro (mapa) */
#map{

    width: 100%;
    height: 600px;

}

/* Estilos del lateral derecho */

.side-right{
	display: flex;
	flex-flow: column wrap;
	/* justify-content: center; */
	align-items: center;
	background-color: var(--ClrPrimary);
	color: var(--Clrfont);
	text-align: center;
	width:25%;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

	
}

.container-color{
	margin: 0 auto;
	display: flex;
	align-items:center;
	justify-content: center;
	background-color: white;
	width: 95%;
	height: 110px;
	border-radius: 5px;
	border:2px solid;
	border-color:rgb(53, 129, 228);
}

.colores{
	display: flex;
	flex-flow: wrap;
	align-content: flex-start;
	justify-content:center;
	margin: 3px;
	padding: 0px;
	border: 1px solid;
	border-color:grey;
	width:80%;
	height:99px;
	border-radius:8px;
}

.colores .color{
	width:15px;
	height:15px;
	margin:2px;
	padding:0;
	

}

.colorView{
	width:16%;
	height:22%;
	background-color: var(--white);
	margin:.3em;
	border: 1px solid rgb(53, 129, 228);
	border-radius: 5px;


}

.container-Info{

	display: flex;
	flex-flow: wrap;
	padding: 0.3em;

}

.cont-fijo1{
	display: flex;
}

.btn-editar{
	background-color: blue;
	color: white;
	border-radius: 0.3em;
}

.input-info{
	border-radius: 0.3em;
}

/* aqui se lista los colores de la paleta  */
/* primera fila */
#color1{
	background-color: var(--clrblue);
}
#color2{
	background-color: var(--clrMagenta);
}
#color3{
	background-color: var(--clrGreen);
}
#color5{
	background-color: var(--clrYellowGreen);
}
#color6{
	background-color: var(--clrLightSalmon);
}
#color7{
	background-color: var(--clrGray);
}
#color8{
	background-color: var(--clrLightSkyBlue);
}
#color9{
	background-color: var(--clrOrange);
}
#color10{
	background-color: var(--clrred);
}

#color11{
	background-color: var(--clrPruple);
}
#color12{
	background-color: var(--clryellow);
}
#color13{
	background-color: var(--clrblack);
}
#color14{
	background-color: var(--clrOrangeRed);
}
#color15{
	background-color: var(--clrWhite);
}

/* campo de la vista del color selecionado */

#color41{
    background-color: white;
}

.tools{
	display: flex;
	flex-wrap: wrap;
	color: black;
	background-color: white;
	width: 94%;
	margin: 2px;
	padding: 2px;
	justify-content: space-evenly;
	border-radius: 5px;

	
}

.toolchildren{
	border:none;
	border-radius: 5px;
	background-color: rgb(53, 129, 228);
    width:15%;
	height:17px;
}

.tools .img{

   text-align: center;
}

.svg1{
	fill: green;
}